<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<script>


  function getSize(size) {
    axios.get(`http://localhost:3000/pet/list/${size}`)
      .then(data => {
        location.href = `http://localhost:3000/pet/list/${size}`
      })
      .catch(err => {
        console.log(err)
      })
  }

  function deletePet() {
    let currentPetId = document.querySelector("#modalEdit input[name=id]").value
    let URL = "http://localhost:3000/pet/petDeletion/" + currentPetId

    axios.delete(URL).then(deletedInfo => {
      location.href = "http://localhost:3000/pet/list"
    })
  }






  function edit(id) {

    axios
      .get("http://localhost:3000/pet/petInfo/" + id)
      .then(petInfo => {
        petInfo = petInfo.data
        document.querySelector("#modalEdit input[name=id]").setAttribute("value", id)
        document.querySelector("#modalEdit input[name=name]").setAttribute("value", petInfo.name)
        document.querySelector("#modalEdit input[name=size]").setAttribute("value", petInfo.size)
      })

  }

  function updatePet() {
    axios
      .put("http://localhost:3000/pet/petUpdate", {
        name: document.querySelector("#modalEdit input[name=name]").value,
        id: document.querySelector("#modalEdit input[name=id]").value,
        size: document.querySelector("#modalEdit input[name=size]").value
      }).then(updateInfo => {
        location.href = "http://localhost:3000/pet/list"
      })
  }





</script>

<body>
  {{!-- 
FORMULARIO FILTRO--}}
  {{!-- <div class="flex-form-wrapper">

    <div class="input-group md-form form-sm form-1 pl-0">
      <div class="input-group-prepend">
        <span class="input-group-text cyan lighten-2" id="basic-text1"><i onclick="filterPet()"class="fas fa-search text-white"
            aria-hidden="true"></i></span>
      </div>
      <input id="size-id" class="form-control my-0 py-1" type="text" name="size" placeholder="Size" aria-label="Search">
    </div>

    <div class="input-group md-form form-sm form-1 pl-0">
      <div class="input-group-prepend">
        <span class="input-group-text cyan lighten-2" id="basic-text1"><i class="fas fa-search text-white"
            aria-hidden="true"></i></span>
      </div>
      <input class="form-control my-0 py-1" type="text" placeholder="Hosts" aria-label="Search">
    </div>

    <div class="input-group md-form form-sm form-1 pl-0">
      <div class="input-group-prepend">
        <span class="input-group-text cyan lighten-2" id="basic-text1"><i class="fas fa-search text-white"
            aria-hidden="true"></i></span>
      </div>
      <input class="form-control my-0 py-1" type="text" placeholder="Shelter" aria-label="Search">
    </div>

  </div> --}}



  <form>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Size</label>
      <select class="form-control" id="exampleFormControlSelect1" onchange="getSize(this.value)">
        <option value="Small">Small</option>
        <option value="Big">Big</option>
        <option value="Medium">Medium</option>

      </select>
    </div>
  </form>




  {{!-- FOTOS --}}
  <div class="wrap-container">
    {{#each pets}}
    <div class="clases-de-rap-con-francho">

      <div class="wrapper-pets">


        <div class="container-pets" id="c0">
          <div class="image" id="i0">
            <div>
              <img id="img-pets-c" src="{{this.photo_url}}" alt="">
            </div>
            <div class="city">
              <?xml version="1.0" encoding="utf-8"?>

              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 225"
                style="enable-background:new 0 0 300 225;" xml:space="preserve">

                <circle id="XMLID_10_" class="st3" cx="87.5" cy="98.5" r="1.5" />
                <circle id="XMLID_11_" class="st3" cx="24.5" cy="68.5" r="2.5" />
                <circle id="XMLID_12_" class="st3" cx="219.5" cy="18.5" r="1.5" />
                <circle id="XMLID_13_" class="st3" cx="272.5" cy="03.5" r="2.0" />
                <circle id="XMLID_14_" class="st3" cx="144.5" cy="12.5" r="1.0" />
                <circle id="XMLID_10_" class="st3" cx="107.5" cy="328.5" r="1.5" />
                <circle id="XMLID_11_" class="st3" cx="24.5" cy="58.5" r="2.5" />
                <circle id="XMLID_12_" class="st3" cx="19.5" cy="128.5" r="1.5" />
                <circle id="XMLID_13_" class="st3" cx="72.5" cy="113.5" r="2.0" />
                <circle id="XMLID_14_" class="st3" cx="174.5" cy="92.5" r="1.0" />

              </svg>

            </div>
          </div>


          <div class="story" id="s0">
            <div class="info">
              <h3 class="h3-pets">{{this.name}}</h3>
              <p class="p-pets"> {{this.description}}</p>
              <p class="p-pets">{{this.size}}</p>
              <div class="text-center show-onclick">
                <a class="btn btn-info btn-rounded btn-sm" id="text-add" data-toggle="modal" data-target="#modalEdit"
                  onclick="edit('{{this._id}}')">Edit<i class="fas fa-plus-square ml-1"></i></a>
              </div>
              {{!-- <p class="p-pets">Kitten - Male - Medium</p> --}}
            </div>
          </div>
        </div>



      </div>
    </div>



    {{/each}}
  </div>



  <form action="/lostPets" method="POST">
    <div class="modal fade modalEditClass" id="modalEdit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5">Edit Pet</h4>
            <button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3" id="hola">

            <input type="text" id="formNameEdit" name="id" class="form-control validate">
            <label data-error="wrong" data-success="right" for="formNameEdit"></label>
          </div>

          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <input type="text" id="formNameEdit" name="name" placeholder="name" class="form-control validate">
              <label data-error="wrong" data-success="right" for="formNameEdit"></label>
            </div>

            <div class="md-form mb-5">
              <input type="text" id="formPositionEdit" name="size" placeholder="Size" class="form-control validate">
              <label data-error="wrong" data-success="right" for="formPositionEdit"></label>
            </div>
          </div>

          <div class="modal-footer d-flex justify-content-center editInsideWrapper">
            <button class="btn btn-outline-secondary btn-block editInside" onclick="updatePet()"
              data-dismiss="modal">Edit
              Pet
              <i class="fas fa-paper-plane-o ml-1"></i>
            </button>
          </div>
  </form>

  <div class="modal-footer d-flex justify-content-center editInsideWrapper">
    <button class="btn btn-outline-secondary btn-block editInside" onclick="deletePet()" data-dismiss="modal">
      Delete Pet
      <i class="fas fa-paper-plane-o ml-1"></i>
    </button>
  </div>

  </div>
  </div>
  </div>





</body>

</html>